<!DOCTYPE html>
<html>
  <head>
    <title>interface</title>
    <!-- <link rel="stylesheet" href="css/w3.css">
    <link rel="stylesheet" href="css/style.css"> -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/w3.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  </head>
  <body>
    <div class="w3-container">

      <h1>
        interface<span id="underscore" style="visibility: visible;">_</span>
      </h1>

      <hr>
      
      <div class="input_row w3-row" >
        <h1>
          base images
          <span class="whitetext" style="color: lightgray; font-size: 0.7em; margin-bottom: 1em;">
            choose images between which you would like to generate a transition:
            <!-- , or: 
            <button id="take_photo_btn" class="w3-button w3-black w3-border ex_btn">take new photo</button> -->
            </span>
        </h1>


        <div class="w3-row flexrow">

          <div class="w3-col s3">
            <div class="env_img_div">

              <div class="w3-row">
                <label for="start_img" style="padding-top: 1em;">Starting image:</label>
              </div>
              <div class="w3-row">
                <img id="start_img_preview" class="env_img_preview">
              </div>
              <div class="w3-row">
                <select class="w3-select" name="start_img" id="start_img_select" style="margin-top: 1em;">
                  <option value="Most Recent 360"><< Most recent 360 photo >></option>
                </select>
              </div>

            </div>
          </div>

          <div class="w3-col s2 autoexpandheight">
            <div class="env_img_div arrow">
                &#8658;
            </div>
          </div>
          
          <div class="w3-col s5">
            <div class="env_img_div">

              <div class="w3-row">
                <label for="end_img" style="padding-top: 1em;">Ending image:</label>
              </div>
              <div class="w3-row">
                <img id="end_img_preview" class="env_img_preview">
              </div>
              <div class="w3-row">
                <select class="w3-select" name="end_img" id="end_img_select" style="margin-top: 1em;">
                  <option value="Most Recent 360"><< Most recent 360 photo >></option>
                </select>
              </div>

            </div>
          </div>

        </div>
      </div>

      <hr>

      <div class="input_row">
        <h1>
          prompt
          <span class="whitetext" style="color: lightgray; font-size: 0.7em;">
            describe a liminal space you would like to see when transitioning between the start and end images.
          </span>
        </h1>


        <!-- <br> -->

        <div class="">
          <label for="prompt_content"> </label>
          <textarea id="prompt_content" class="w3-input w3-border w3-animate-input textfield" type="text"></textarea>
          <!-- <div>
            <button id="content_btn" class="w3-button w3-black w3-border ex_btn">for example:</button>
            <span id="content_ex" class="input_caption ex_txt">
              kaleidoscopic view of a future apartment in the year 3000
            </span>
          </div> -->
          <div class="w3-row" style="margin-top: 1em;">
            <label for="lim_mode_select">liminal duration</label>
          </div>
          <div class="w3-row">
            <!-- <form> -->
              <label class="radio-label">
                <input class="w3-radio" name="liminal_mode" value="0" id="liminal_mode_0" type="radio" checked>
                long <span class="radio-description">&nbsp;&nbsp;For "visual excursions" you want to travel through. Works well with descriptive prompts.</span>
              </label>
              <br>
              
              <label class="radio-label">
                <input class="w3-radio" name="liminal_mode" value="1" id="liminal_mode_1" type="radio" >
                short <span class="radio-description">For morphing the start environment into the end environment. Works well with abstract prompts, e.g., with the words "abstract, formless, swirling"</span>
              </label>
            <!-- </form> -->
            <!-- <select name="lim_mode_select" id="lim_mode_select">
              <option value="lim_0">short</option>
              <option value="lim_1">long</option>
            </select> -->
          </div>
        </div>
      </div>

      <div class="space"></div>

      <hr>

      <div class="input_row">

        <h1>
          metadata
          <span class="whitetext" style="color:lightgray; font-size: 0.7em;">
            enter your name or a title for your transition.
          </span>
        </h1>


        <!-- <br> -->

        <div class="">
          <label for="metadata"></label>
          <input id="metadata" class="w3-input w3-border w3-animate-input single-line-text-input" type="text"></input>
        </div>

        <div class="space"></div>

        <form action="/sd_request" method="POST">

        </form>
      </div>
      <hr>
      <button id="submit_btn" class="w3-button w3-black w3-border ex_btn">generate transition</button>

      <!-- <div class="input_row slider_row">
        <label>
          classifier free guidance scale
        </label>
        <div class="slidecontainer">
          <span class="slider_label rightpad">creative</span>
          <input type="range" min="1" max="15" value="7" step="1" class="slider" id="cfg_slider">
          <span class="slider_label leftpad">strict</span>
        </div>
        <p class="input_caption">
          scale: <span id="cfg_value" class="slider_label" style="font-size: 1.1em;"></span>.
          this value controls how closely the ai will follow the text prompt. higher numbers result in more strictly following the text, while lower numbers give the ai more "creative freedom." 7-10 is a balanced range.
        </p>

      </div> -->

    </div>
    <div id="overlay">
      <div id="overlayText">
        <h1>Generating transition<span id="underscore2" style="visibility: visible;">_</span></h1>
        <hr>
        <h3>check the terminal window to monitor progress.</h3>
      </div>
    </div>

    <!-- <script src="index.js"></script> -->
    <script src="{{ url_for('static', filename='js/index.js') }}"></script>
    <script>
      // This line is flagged in editor (VSCode) but it runs fine.
      // It passes the end image list data from app.py script to index.js script
      var list = {{ data.end_img_list|tojson }};
      var path = {{ data.end_img_path|tojson }};
      init_end_img_list(list, path);
    </script>
  </body>
</html>