<!DOCTYPE html>
<html>
  <head>
    <title>queueing</title>
    <!-- <link rel="stylesheet" href="css/w3.css">
    <link rel="stylesheet" href="css/style.css"> -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/w3.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  </head>
  <body>
    <div class="w3-container">

      <h1>
        interface<span id="underscore" style="visibility: visible;">_</span>
      </h1>

      <hr>

      <h1>
        request 
      </h1>

      <div class="whitetext" style="font-size: 1.3em;">
        Queueing request...
      </div>

      

    <!-- <script src="index.js"></script> -->
    <script src="{{ url_for('static', filename='js/index.js') }}"></script>
  </body>
</html>